<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.4.1" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="Elastic.CommonSchema" version="8.6.1" targetFramework="net48" />
  <package id="Elastic.CommonSchema.NLog" version="8.6.1" targetFramework="net48" />
  <package id="Elasticsearch.Net" version="7.13.2" targetFramework="net48" />
  <package id="EPPlus" version="6.0.8" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="NEST" version="7.13.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Targets.ElasticSearch" version="7.7.0" targetFramework="net48" />
  <package id="Revit_All_Main_Versions_API_x64" version="2022.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>